body {
    background-color: lightgoldenrodyellow;
    font-family: "Gill Sans";
    margin: 0;
    padding: 0;
    font-size: 20px;
}

h1 {
    text-align: center;
    margin: 20px;
}

.header {
    background-color: maroon;
    color: white;
    padding: 1px;
}

.header-name {
    text-align: left;
    margin-left: 10px; 
    font-size: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.buttons button {
    display: block;
    padding: 0px 20px;
    height: 40px;
    background-color: orange;
    text-align: center;
    line-height: 40px;
    width: 33%;
}